<a href="https://colab.research.google.com/github/MitsDan/github.com-MitsDan-MitsDan.github.io/blob/master/Day1/numpy_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy & Pandas

## Numpy and Arrays

Numpy is a powerful numeric library that is essential for anyone analyzing data with Python. Numpy is a huge package that can support a multitude of tasks. Numpy is also inextricably linked to SciPy, a powerful library for scientific computing with capabilities for fitting, linear algebra, machine learning, etc. Here we are just going to cover some of the basics of numpy, but I encourage you to check out the numpy documentation pages (https://numpy.org/doc/stable/) to get an idea of the variety of things you can do.

Arrays are a data type which is fundamental to Numpy. In some ways Numpy arrays are like Python lists:
- both are used for storing data/objects
- both are mutable (i.e. you can change their elements)
- items can be extracted from both using indexing and slicing
- both can be iterated over

However there are key aspects of arrays that make them very different:
- most operators act on the elements of an array instead of the array as a whole
- arrays can only hold data of a single type
- arrays can efficiently store large amounts of data in memory
- arrays are of fixed size in memory, whereas lists don't have fixed size. (Question: if arrays have fixed size, how do you think [numpy.append](https://numpy.org/doc/stable/reference/generated/numpy.append.html) works?)

In [1]:
import numpy as np

# create some sample lists
xlist = [1, 2, 3, 4]
ylist = [1, 4, 9, 16]

# create some sample arrays
x = np.array([1, 2, 3, 4])
y = np.array([1, 4, 9, 16])

First let's check out the different behaviors between lists and arrays

In [2]:
print(xlist * 4)

print(x * 4)

print(x / 4)

# print(xlist / 4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[ 4  8 12 16]
[0.25 0.5  0.75 1.  ]

TypeError: unsupported operand type(s) for /: 'list' and 'int'

Notice how the list was repeated 4 times, whereas each element of the array was multiplied by 4 and the result ended up being the same length.

Division works element-wise for arrays, but division is not defined and produces an error when performed on a list.

## Iterating, indexing, and slicing

Iterating over a 1D array looks just like iterating over a list

In [3]:
print('Iterating over list')
for val in xlist:
    print(val)

print('Iterating over array')
for val in x:
    print(val)

Iterating over list
1
2
3
4
Iterating over array
1
2
3
4

Iterating an N-dimensional array will iterate over slices along the first dimension.

# slicing
Indexing an array is similar to lists, but in N-dimension array you can slice each dimesnion independently

y[1-D, 2-D, ....]

y[rows, cols] , Dimensions separated by a colon.

In [5]:
y = np.random.uniform(size=(5, 5))

for val in y:
    print(val)

print()
# you could accomplish the same thing like this (but it's less readible and less efficient)
for i in range(y.shape[0]):
    val = y[i, :]
    print(val)

[0.520609   0.56538805 0.58876203 0.16126499 0.75820835]
[0.87897513 0.29449561 0.1651991  0.49431557 0.1960016 ]
[0.37773604 0.38045859 0.33477125 0.90997674 0.93397527]
[0.34628473 0.61091568 0.42481836 0.25632202 0.19913316]
[0.37535646 0.1555642  0.33852224 0.6631696  0.82223874]

[0.520609   0.56538805 0.58876203 0.16126499 0.75820835]
[0.87897513 0.29449561 0.1651991  0.49431557 0.1960016 ]
[0.37773604 0.38045859 0.33477125 0.90997674 0.93397527]
[0.34628473 0.61091568 0.42481836 0.25632202 0.19913316]
[0.37535646 0.1555642  0.33852224 0.6631696  0.82223874]

We can also select subsets of the array using conditionals.

In [6]:
xs = x[x < 2]
xs

array([1])

In general, setting an array equal to another does not create a new array. In other words, editing either array will modify the other.

In [7]:
# attempt to create a new array, z, that is a copy of x
z = x

# modify x
x[3] = 10

# z is modified too
print(z)

[ 1  2  3 10]

You can use the copy method if you really need a new copy of the array.

In [8]:
z = x.copy()
x[3] = 20
print(z)

[ 1  2  3 10]

hstack and vstack are useful to stitch together multiple arrays

In [9]:
# hstack stitches together along the first dimension
hstack = np.hstack((x, z))
print(hstack)

print()
# vstack stitches along the last dimension
vstack = np.vstack((x, z))
print(vstack)

[ 1  2  3 20  1  2  3 10]

[[ 1  2  3 20]
 [ 1  2  3 10]]

### Best practices

- If it's important that your code is fast, it's almost always better to avoid for loops.
- If I'm working on a complicated problem and I'm unsure whether to use a loop or array operations, I usually write it up in a loop first so that I can conceptualize the problem easier, then convert later to remove as many loops as possible.
- Loops are often more readable than list comprehensions.

## Pandas Tables

Pandas is a powerful data analysis package that provides tools for manipulating tabular data. This is particularly useful in many astronomical applications, such as spectroscopy, and time-series. Data is organized into rows and columns where the columns are named and recalled using arbitrary Python objects (strings are the most convenient). This is in contrast to Numpy arrays where columns can only be accessed using integer indices (however, also see [structured arrays](https://numpy.org/doc/stable/user/basics.rec.html)).

Sorting, querying, merging, and aggregation are some of the most useful Pandas features, but this tutorial will only scratch the surface. See https://pandas.pydata.org/docs/ for the full documentation.


Pandas is most useful for dealing with heterogeneous and/or large datasets, when merging or complex queries are needed, or if you have metadata associated with columns (e.g. strings as labels).

The basic units/objects in Pandas are the Series and DataFrame objects.

In [10]:
import pandas as pd

# Lets create a sample Series object
x = [1.0, 2.0, 4.4, 4.5, 8.8, 9.1, 8.7, 2.3, 2.4, 3.1, 5.9]
s = pd.Series(x)

print(s)

0     1.0
1     2.0
2     4.4
3     4.5
4     8.8
5     9.1
6     8.7
7     2.3
8     2.4
9     3.1
10    5.9
dtype: float64

We populated a `Series` starting from a list of floating point numbers. Notice that two columns are printed in the output. Every entry in a Series has a corresponding integer index; generally these indices are created automatically. The data type stored is printed below the `Series` itself. Series objects can only store data of a single type, but any data type can be stored.

A `Series` is like a single column of data in a table. A `DataFrame` is the Pandas object that represents a full table. Each column in the table is a `Series`.

There are several ways to construct a Pandas `DataFrame`, including from Numpy arrays, Python dictionaries, a list of `Series` objects, reading from a CSV, reading from a URL, etc.

Let's first construct a single-column `DataFrame` from our series `s`.

In [11]:
df = pd.DataFrame(s, columns=["samples"])
df

    samples
0       1.0
1       2.0
2       4.4
3       4.5
4       8.8
5       9.1
6       8.7
7       2.3
8       2.4
9       3.1
10      5.9

Jupyter has special support for displaying DataFrames, simply typing the variable name of a DataFrame at the end of the cell will present a nicely formatted view of the table.

Let's add some more columns to our DataFrame.

In [12]:
df["sample_base"] = df["samples"] // 1
df["sample_plus1"] = df["samples"] + 1
df["sample_squared"] = df.samples.values**2
df

    samples  sample_base  sample_plus1  sample_squared
0       1.0          1.0           2.0            1.00
1       2.0          2.0           3.0            4.00
2       4.4          4.0           5.4           19.36
3       4.5          4.0           5.5           20.25
4       8.8          8.0           9.8           77.44
5       9.1          9.0          10.1           82.81
6       8.7          8.0           9.7           75.69
7       2.3          2.0           3.3            5.29
8       2.4          2.0           3.4            5.76
9       3.1          3.0           4.1            9.61
10      5.9          5.0           6.9           34.81

Notice that we can access the values in a column using two different syntax.

We can also easily save/read Pandas DataFrames to/from disk

In [13]:
# write to a CSV file
df.to_csv("demo.csv")

# read back from the CSV we just saved
df = pd.read_csv("demo.csv")

# a variety of other formats are supported including JSON, ASCII, etc. Each format has its own read/write methods.

### Best Practices:

`numpy` is more memory efficient than `pandas`, but `pandas` is often helpful for organization and common data analysis tasks. For example, if I have a set of data that has 50 data points, each with time, radial velocity, error, S-index value, H-alpha value, and starname, a `pandas` `DataFrame` will probably be easier to keep track of than a multi-dimensional numpy array, or several 1D arrays. If `pandas` sounds like it will make your life harder rather than easier, it's probably not worth using.

Consider using `pandas` when your data are:
- heterogeneous (e.g. a mix of strings, ints, and floats)
- going to be combined with other similar data sets (e.g. I have one set of RV data, as described above, taken with the HIRES instrument, and another set from the APF instrument, and I want to extract all data taken for a given star).

# Activites

After we go through the matplotlib/astropy tutorial, come back to these exercises in your small groups. Take some time before starting to review the context above individually, then, when everyone in your group is ready, work on the following two activities together.

### Roles:
- navigator (person with most recent birthday)
- driver (person with farthest away birthday)
- moderator

### Product:
- Activity 1: plot of length vs time for both arrays and lists
- Activity 2: answer & justification for each scenario

## Activity #1

Let's see how much faster it is to work with Numpy arrays over Python lists.

In [17]:
import time

# First we'll create a long list
length = 10000000  # must be an int
x = list(range(length))

# now lets loop over all of the elements and add one then divide by two
# we will also use the time package to time how long it takes
t1 = time.time()
for i in range(len(x)):
    x[i] = (x[i] + 1) / 2
t2 = time.time()

print("Updated {:d} elements in {:4.3f} seconds.".format(length, t2 - t1))

Updated 10000000 elements in 1.617 seconds.

1. Change the length of the list and keep track of how long the calculation takes as a function of that length.

1. Plot the time as a function of list length.

1. Now construct a Numpy array from the list `x` and perform the same calculation for several different array lengths.

1. Plot the calculation time as a function of array length and add this line to the plot created in step #2.

## Activity #2

Should you use a for loop in each of the following scenarios? Why or why not?

Scenario 1: I want to multiply each element in an array by 10.

Scenario 2: I'm writing a quicklook reduction pipleine that will run in real time (so it needs to be as fast as possible). I need to convolve each pixel in an image with the same kernel function.

Scenario 3: I'm writing an open-source data anlysis package that will be used and modified by many people. I have 10,000 images that I need to run the same set of functions on.

## (Optional) Activity #3

Lets load a couple files into a Pandas DataFrame and rearrange and merge them into a single file in a more useful format. `example_data/star_names.json` contains a list star names. If you're runing this notebook on google colab, you'll need to upload the files in codeastro/exampe_data here (click on the file button on the left, then right-click on sample_data, then upload). The `primary_name` column is the primary ID for the star. For each unique `primary_name` there are many `other_names` associated with it. Each `primary_name`+`other_name` combination is stored in a separate row.

1. First load the file `example_data/star_names.json` into a Pandas DataFrame. The file is in JSON format so you might look into the `pandas.read_json` function.

1. Group the DataFrame on the `primary_name` column and create a custom aggregation function that takes all of the values in the `other_name` column that have the same `primary_name` and converts them into a single string deliminated with a pipe (`|`).

1. Load the `example_data/star_props.csv` file into a separate DataFrame and merge this with the grouped DataFrame from step #2.

1. Save the result as a new CSV file. The resulting file should look like `example_data/stars_merged.csv`. You may also load this file into Pandas to see what the final DataFrame should look like before saving to a CSV.

# More on Pandas Functionality
(Read through this section on your own. It reads as a continuation of the pandas section above.)

Now sort by the `sample_squared` column

In [ ]:
df = df.sort_values(by="sample_squared")
df

    Unnamed: 0  samples  sample_base  sample_plus1  sample_squared
0            0      1.0          1.0           2.0            1.00
1            1      2.0          2.0           3.0            4.00
7            7      2.3          2.0           3.3            5.29
8            8      2.4          2.0           3.4            5.76
9            9      3.1          3.0           4.1            9.61
2            2      4.4          4.0           5.4           19.36
3            3      4.5          4.0           5.5           20.25
10          10      5.9          5.0           6.9           34.81
6            6      8.7          8.0           9.7           75.69
4            4      8.8          8.0           9.8           77.44
5            5      9.1          9.0          10.1           82.81

Notice that the indices were re-ordered as well. The indices retain information about the original ordering.

We can also select subsets of the data using conditionals similar to Numpy arrays.

In [ ]:
q1 = df[df["samples"] <= 4]
q1

   Unnamed: 0  samples  sample_base  sample_plus1  sample_squared
0           0      1.0          1.0           2.0            1.00
1           1      2.0          2.0           3.0            4.00
7           7      2.3          2.0           3.3            5.29
8           8      2.4          2.0           3.4            5.76
9           9      3.1          3.0           4.1            9.61

The `.groupby` method is used to create Pandas `DataFrameGroupBy` object which can be used to calculate statistics within the groups.

In [ ]:
# groups that share a common sample_base field
g = df.groupby("sample_base")

# count number of rows within each group
print(g.count())

             Unnamed: 0  samples  sample_plus1  sample_squared
sample_base
1.0                   1        1             1               1
2.0                   3        3             3               3
3.0                   1        1             1               1
4.0                   2        2             2               2
5.0                   1        1             1               1
8.0                   2        2             2               2
9.0                   1        1             1               1

We can also merge DataFrames together using a common column.

Lets create a second DataFrame from the same original list of numbers and calculate the `sample_base` field again. We will also calculate a new column called `sample_sqrt`

In [ ]:
df2 = pd.DataFrame(x, columns=["samples"])

df2["sample_base"] = df2["samples"] // 1
df2["sample_sqrt"] = np.sqrt(df2["samples"])
df2

           samples  sample_base  sample_sqrt
0              0.5          0.0     0.707107
1              1.0          1.0     1.000000
2              1.5          1.0     1.224745
3              2.0          2.0     1.414214
4              2.5          2.0     1.581139
...            ...          ...          ...
9999995  4999998.0    4999998.0  2236.067530
9999996  4999998.5    4999998.0  2236.067642
9999997  4999999.0    4999999.0  2236.067754
9999998  4999999.5    4999999.0  2236.067866
9999999  5000000.0    5000000.0  2236.067977

[10000000 rows x 3 columns]

Now we can add this new column into the original DataFrame by matching up the values on a shared column. In this case we want to match up on the original `sample` column.

Sometimes we have multiple DataFrames with one or more overlapping columns and we need to combine into a single DataFrame. This is where merging comes in.

Merging is a powerful and complex subject. I frequently find myself [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) to lookup various functionalities.

In [ ]:
merged = pd.merge(df, df2, on="samples", suffixes=["_original", "_new"])
merged

,Unnamed: 0,samples,sample_base_original,sample_plus1,sample_squared,sample_base_new
0,0,1.0,1.0,2.0,1.00,1.0
1,1,2.0,2.0,3.0,4.00,2.0
2,3,4.5,4.0,5.5,20.25,4.0

If a column name appears in both DataFrames but is not the column that you are merging on, the strings defined in the `suffixes` argument will be appended to the end of the column names.

DataFrames can be written and read from files very easily. Many formats are supported but comma separated values (CSV) is the most commonly used in astronomy. The `read_csv` function can actually read a variety of text file formats by specifying the `delimiter` argument.

You can also load a CSV directly from a URL.

In [ ]:
merged.to_csv('samples.csv')

!cat sample.csv

from_csv = pd.read_csv('samples.csv', index_col=0)
from_csv

cat: sample.csv: No such file or directory

,Unnamed: 0,samples,sample_base_original,sample_plus1,sample_squared,sample_base_new
0,0,1.0,1.0,2.0,1.00,1.0
1,1,2.0,2.0,3.0,4.00,2.0
2,3,4.5,4.0,5.5,20.25,4.0